.input {
  width: 600px;
  height: 45px;
  font-size: 1rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.3);
  outline: none;
  border: 0;
  padding: 9px 4px 9px 40px;

}
@media (max-width: 800px) {
  .input {
    width: 400px;
  }
}
@media (max-width: 470px) {
  .input {
    width: 300px;
  }
}
@media (max-width: 400px) {
  .input {
    width: 250px;
  }
}
