.form-result {
  font-weight: bold;
  font-size: 1.2rem;
}

.form-gallery {
  max-width: 1200px;
  margin: auto;
}

.form-input {
  background-color: white;
  border-radius: 6px;
}

.input-search {
  width: 600px;
  height: 20px;
  border-radius: 12px;
  border: 1px solid #eee;
  outline: 1px solid #eee;
  background-color: rgb(242, 242, 242);
}

.input-suggestion {
  color: #000;
  font-size: 1rem;
  padding: 1rem;
  cursor: pointer;
}
