.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
}
.modal button {
  display: block;
  margin: auto;
  cursor: pointer;
  padding: 0.5rem 5rem;
  background-color: transparent;
  border: 1px solid rgb(131, 131, 131);
  border-radius: 6px;
}
