.gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  max-width: 1200px;
  list-style: none;
  gap: 10px;
}
.photo {
  display: flex;
  justify-content: center;
}
.photo img {
  width: 300px;
  height: 300px;
  object-fit: cover;
}
