.App__card {
  background-image: url(./images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.App {
  color: #fff;
  height: 100vh;
}
.App h1 {
  font-size: 2.6rem;
  margin: 0;
}
.App a {
  color: aliceblue;
}
