body {
  background-image: url(./images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.App {
  color: #fff;
  height: 100vh;
}
.App a {
  color: aliceblue;
}
.App__card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 50%;
}
